<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
</head>

<body>
    <h1>API - USER</h1>
<div class="explicacao"> 
    <h1>http://localhost:3003/user</h1>
    <p>post- cadastra usuario</p>
    <br>
    <br>
    <h1>http://localhost:3003/users</h1>
    <p>get - pega usuarios cadastrados e lista eles</p>
    <br>
    <br>
    <h1>http://localhost:3003/user/authenticated</h1>
    <p>post- autenticação do usuario, pede email e senha e mostra um token que no site da jwt mostra o email e senha</p>
    <br>
    <br>
</div>


</body>

</html>